{{> header}}
<h1> {{title}} </h1>
<h4> Welcome to {{title}} </h4>

{{! landing page}}

{{^user}}
<p>Benvenuto. Per favore <a href="/login">loggati</a> o 
<a href="/register">registrati.</a> </p>
{{/user}}

{{! pannello di amministrazione dell'utente}}

{{#user}}
<p>Ciao {{user.username}}.</p>
<p><a href="/request/1">Cerca un libro da acquistare</a></p>
<p><a href="/offer/1">Offri un libro usato</a></p>
{{/user}}
{{> footer }}