{{> header}}
<h1> {{title}} </h1>
<h4> Welcome to {{title}} </h4>

{{! landing page}}

{{^user}}
<p>Benvenuto. Per favore <a href="/login">loggati</a> o 
<a href="/register">registrati.</a> </p>
{{/user}}

{{! pannello di amministrazione dell'utente}}

{{#user}}
<p>Hello, {{user.username}}.</p>
{{/user}}
{{> footer }}